
<link rel="icon" href="{{ "icons/favicon.ico" | relURL }}" type="image/x-icon" >
<link rel="apple-touch-icon" sizes="76x76" href="{{ "icons/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "icons/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "icons/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ "icons/site.webmanifest" | relURL }}">
<link rel="mask-icon" href="{{ "icons/safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relURL }}">
