{{ define "main" }}

  <div class="title-div">
    <div class="title">
        <span>{{ .Title }}</span>
    </div>
    <div class="subtitle">
        <span>{{ .Content }}</span>
    </div>
     {{ range where .Data.Pages "Section" "profiles" }}
       {{ .Render "list"}}
     {{ end }}
  </div>

  {{ range where .Data.Pages "Section" "backgrounds" }}
    {{ .Render "list"}}
  {{ end }}

  <script type="text/javascript">

    var orientation = getOrientation();
    var b = document.getElementsByTagName("BODY")[0];
    b.setAttribute("orientation", orientation);
    window.addEventListener("resize", checkOrientation);

    processOrientation();

    next_bg();

  </script>

{{ end }}
